.wrapper {
    border: 3px solid #262626;
    border-radius: 1px;
    margin:  30px 20px;
    min-height: 1400px;
}
.greeting__inner {
    position: relative;
    margin: 130px auto;
    max-width: 400px;
    padding: 5px 10px; 
    border: 2px solid #808080;
    white-space: nowrap; 
}
.greeting__label {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    font-size:40px; 
    font-family: "Trebuchet MS";
    font-weight: bold;
    transform: scale;
}
.greeting__top-decoration {
    position: absolute;
    left: 50%;
    top:-11px;
    transform: translateX(-50%);
    display: inline-block;
    max-width: 300px;
    overflow: hidden;
    padding: 0 20px;
    background-color: white;
    color: #808080;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
}
.perfomance {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 160px;
}
.perfomance__data {
    display: flex;
    flex: 1 1 1400px; 
}
.perfomance__image-container {
    padding: 0 30px;
}
.perfomance__img {
    width: auto;
    height: 300px;
}
.perfomance__profile-cotainer {
    padding-left: 30px;
    flex-flow: column wrap;
    flex: 2 1 500px;
}
.perfomance__table-row {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    border-bottom: 2px solid #c8c8c8;
}

.perfomance__table-cell {
    padding: 5px 0;
    font-family: "Trebuchet MS"
}
.profile__title {
    display: block;
    text-transform: uppercase;
    font-family: "Trebuchet MS";
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}
.profile__text {
    color: #808080;
    font-family: "Trebuchet MS";
    font-weight: bold;
    text-align: justify;
}
.expirience {
    display: flex;
}
.expirience__inner {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    margin: 0 160px 100px;
}
.expirience__time {
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    flex: 1 4 400px;
}
.expirience__place {
    position: relative;
    justify-content: center;
    display: flex;
    align-items: flex-end;
    flex: 1 4;
}
.expirience__then {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 9px;
    display: flex;
}

.expirience__tnen-month {
    right: 50%;
    color: #808080;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform:uppercase;
    font-family: "Trebuchet MS"; 
    transform: scale;
}
.expirience__then-year {
    display: inline-block;
    font-family: "Trebuchet MS";
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    transform: scale;
}
.expirience__then-present {
    display: inline-flex;
    align-items: flex-end;
    margin: 0 9px;
    font-family: "Trebuchet MS";
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    transform: scale;
}
.expirience__job-description {
    flex: 18 1 750px;
}
.expirience__job-description-label {
    display: block;
    padding: 0 0 13px 0;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Trebuchet MS";
    font-weight: bold;
}
.expirience__job-description-post {
    padding: 6px;
    color: #808080;
    font-size: 20px;
    text-align: center;
    font-family: "Trebuchet MS";
    text-transform: uppercase;
}
.expirience__job-description-duties {
    color: #808080;
    font-family: "Trebuchet MS";
    font-weight: bold;
    text-align: justify;
}
.perfomance__table {
    height: 300px;
    max-width: 550px;
    display: flex;
    border-collapse: collapse;
    flex-flow: row nowrap; 
    justify-content: space-between;
    flex: 1 3 200px ;
    padding: 0 30px;
}
.perfomance__table-column {
    display: flex;
    flex-direction: column;
    height: 300px;
    flex: 2 1 300px;
    /*align-items: flex-start;*/
}
.perfomance__table-column:not(first-of-type) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 300px;
    
}

.perfomance__table-cell {
    margin: 5px 0;
    border-bottom: 2px solid #c8c8c8;
    padding: 5px 5px;
    font-family: "Trebuchet MS";
    white-space: nowrap;
    text-align: center;
    


}
.perfomance__profile-cotainer {
    padding-left: 30px;
    flex-flow: column wrap;
    flex: 2 1 500px;
}
/*.perfomance__table-column .perfomance__table-cell {*/
    /*text-align: center;*/
}
@media  only screen and (max-width: 1680px){
    .greeting__inner {
        margin: 100px auto;
    }
}
@media  only screen and (max-width: 1280px){
    .greeting__inner {
        margin: 60px auto;
    }
    .perfomance__image-container{
        padding: 0;
    }
